/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */

body {
  background-color: antiquewhite;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: larger;
  font-family: "Roboto Slab", serif;
  font-weight: 900;
  font-size: 70px;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  font-size: 50px;
}

p {
  color: crimson;
  font-size: 18px;
}
